<table style="width:100%">
  <tr>
    <th>
      <h2>contexts2:</h2>
      <app-context2 (clicked)="showAction2($event)"></app-context2>
    </th>
    <th>
      <h2>actions2:</h2>
      <li *ngFor="let i of action2 | async">
        {{i.key}} : {{i.payload.val().name}}
      </li>
      <div>
        <form  (submit)="addAction()">
          <input type="text" name="name" id="form-add" on [(ngModel)]="newAction.name" placeholder="Enter name">
          <button type="submit" >add new Action
            <script>
            $('#form-add').val('');
              console.log('hello');
          </script>
            </button>

        </form>
      </div>
      <div>
        <form (submit)="deleteAction()">
          <input type="text" name="contextID" [(ngModel)]="delAction" placeholder="Enter context id" value="">
          <button type="submit" >delete Action</button>
        </form>
      </div>

    </th>
  </tr>
</table>
