<!--<li *ngFor="let i of challenge | async" (click)="updateChallengeID(i.key)">-->
<!--  {{i.key}} : {{i.payload.val().name}} : {{i.payload.val().points}} : {{i.payload.val().badge_id}} : {{i.payload.val().start_time}} : {{i.payload.val().end_time}}-->

<!--</li>-->

<table  >
  <tr>
    <th>Context ID</th>
    <th>Context Name</th>
    <th>points</th>
    <th>badge id</th>
    <th>start time</th>
    <th>end time</th>
  </tr>
  <tr *ngFor="let i of challenge | async" (click)="updateChallengeID(i.key)">
    <td>{{i.key}}</td>
    <td>{{i.payload.val().name}}</td>
    <td>{{i.payload.val().points}}</td>
    <td>{{i.payload.val().badge_id}}</td>
    <td>{{i.payload.val().start_time}}</td>
    <td>{{i.payload.val().end_time}}</td>
  </tr>

</table>


<div>
  <form (submit)="addChallenge()">
    <input type="text" name="name" [(ngModel)]="newChallenge.badge_id" placeholder="Enter badge id">
    <input type="text" name="name" [(ngModel)]="newChallenge.name" placeholder="Enter name">
    <input type="text" name="name" [(ngModel)]="newChallenge.points" placeholder="Enter Points">
    endtime: <input type="date" name="end_time" [(ngModel)]="newChallenge.end_time">
    <button type="submit" >add new Challenge</button>
  </form>
</div>
<div>
  <form (submit)="deleteChallenge()">
    <input type="text" name="RbChallenge" [(ngModel)]="delChallenge" placeholder="Enter Challenge id" value="">
    <button type="submit" >delete Challenge</button>
  </form>
</div>

