table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  position: relative;
  top: 50px;
  left: -70px;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  max-width: 220px;
  white-space: nowrap;
  overflow: auto;

}
.PV{
  max-width: 100px;
}

tr:nth-child(even) {
  background-color: lightblue;
}
/*#rp*/
/*{*/

/*  text-align: center;*/
/*  position: relative;*/
/*  float: left;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  top: 200px;*/
/*  left: 20px;*/
/*  list-style-type: none;*/
/*  background-color: #FFFFFF;*/
/*  z-index:999;*/
/*  width: 30%;*/
/*}*/
#addAndDelRp{
  padding-left: 100px;
  position: fixed;
  top: 150px;
  right: 10px;
}
