<!--<p>-->
<!--  rp works!-->
<!--</p>-->

<!--<li *ngFor="let i of rp | async">-->
<!--  {{i.key}} : {{i.payload.val().action_id}} : {{i.payload.val().points}} : {{i.payload.val().value}}-->

<!--</li>-->

<table>
<table >
  <tr>
    <th>Rp ID</th>
    <th>action id</th>
    <th>points</th>
    <th>value/amount</th>
  </tr>
  <tr *ngFor="let i of rp | async">
    <td>{{i.key}}</td>
    <td>{{i.payload.val().action_id}}</td>
    <td class="PV">{{i.payload.val().points}}</td>
    <td class="PV">{{i.payload.val().value}}</td>

  </tr>

</table>

<div id="addAndDelRp">
  <div id="addRp" >
    <form  (submit)="addRp()" >
      <input class="add" type="text" name="name" [(ngModel)]="newRp.action_id" placeholder="Enter action id">
      <input class="add" type="text" name="name" [(ngModel)]="newRp.points" placeholder="Enter points">
      <input class="add" type="text" name="name" [(ngModel)]="newRp.value" placeholder="Enter value">
      <button onclick="$('.add').val('');"  type="submit"  >add new Rp</button>
    </form>
  </div>
  <div>
    <form (submit)="deleteRp()">
      <input class="delete" type="text" name="RpID" [(ngModel)]="delRp" placeholder="Enter Rp id" value="">
      <button onclick="$('.delete').val('');" type="submit" >delete Rp</button>
    </form>
  </div>
</div>
</table>




