<table  style="width:100%">
  <tr>
    <td>
      <app-context (clicked)="showAction($event)"></app-context>
    </td>
    <td>
      <table id="action" >
        <tr>
          <th>Action ID</th>
          <th>Action Name</th>
        </tr>
        <tr id="action_table"  *ngFor="let i of action | async" >
          <td>{{i.key}}</td>
          <td> {{i.payload.val().name}}</td>

        </tr>

      </table>

      <div>
        <form  (submit)="addAction()">
          <input type="text" name="name" id="form-add" on [(ngModel)]="newAction.name" placeholder="Enter name">
          <button type="submit" >add new Action
            <script>
              $('#form-add').val('');
              console.log('hello');
            </script>
          </button>

        </form>
      </div>
      <div>
        <form (submit)="deleteAction()">
          <input type="text" name="contextID" [(ngModel)]="delAction" placeholder="Enter context id" value="">
          <button type="submit" >delete Action</button>
        </form>
      </div>
<!--      <li *ngFor="let i of action | async">-->
<!--      {{i.key}} : {{i.payload.val().name}}-->
<!--      </li>-->
    </td>
  </tr>
</table>


