<table>
  <tr>
    <td>
      <app-context (clicked)="showAction($event)"></app-context>
    </td>
    <td>
      <table id="action" >
        <tr>
          <th>Action ID</th>
          <th>Action Name</th>
        </tr>
        <tr id="action_table"  *ngFor="let i of action | async" >
          <td>{{i.key}}</td>
          <td class="PV"> {{i.payload.val().name}}</td>

        </tr>

      </table>

      <div>
        <form id="add_action_button"  (submit)="addAction()">
          <input class="add" type="text" name="name" id="form-add" on [(ngModel)]="newAction.name" placeholder="Enter name">
          <button onclick="$('.add').val('');" type="submit" >add new Action</button>

        </form>
      </div>
      <div>
        <form  id="delete_action_button" (submit)="deleteAction()">
          <input class="delete" type="text" name="contextID" [(ngModel)]="delAction" placeholder="Enter context id" value="">
          <button onclick="$('.delete').val('');" type="submit" >delete Action</button>
        </form>
      </div>
<!--      <li *ngFor="let i of action | async">-->
<!--      {{i.key}} : {{i.payload.val().name}}-->
<!--      </li>-->
    </td>
  </tr>
</table>

<!--<span><app-context (clicked)="showAction($event)"></app-context></span>-->
<!--<span>-->
<!--  <div><table id="action" >-->
<!--        <tr>-->
<!--          <th>Action ID</th>-->
<!--          <th>Action Name</th>-->
<!--        </tr>-->
<!--        <tr id="action_table"  *ngFor="let i of action | async" >-->
<!--          <td>{{i.key}}</td>-->
<!--          <td> {{i.payload.val().name}}</td>-->

<!--        </tr>-->

<!--      </table></div>-->
<!--<div>-->
<!--  <form  (submit)="addAction()">-->
<!--    <input type="text" name="name" id="form-add" on [(ngModel)]="newAction.name" placeholder="Enter name">-->
<!--    <button type="submit" >add new Action-->
<!--      <script>-->
<!--        $('#form-add').val('');-->
<!--      </script>-->
<!--    </button>-->

<!--  </form>-->
<!--</div>-->
<!--<div>-->
<!--  <form (submit)="deleteAction()">-->
<!--    <input type="text" name="contextID" [(ngModel)]="delAction" placeholder="Enter context id" value="">-->
<!--    <button type="submit" >delete Action</button>-->
<!--  </form>-->
<!--</div>-->
<!--  </span>-->




