<table  style="width:100%">
  <tr>
    <td>
      <app-context (clicked)="showAction($event)"></app-context>
    </td>
    <td>
      <table id="action" >
        <tr>
          <th>Action ID</th>
          <th>Action Name</th>
        </tr>
        <tr id="context_table"  *ngFor="let i of action | async" >
          <td>{{i.key}}</td>
          <td> {{i.payload.val().name}}</td>
        </tr>

      </table>
<!--      <li *ngFor="let i of action | async">-->
<!--      {{i.key}} : {{i.payload.val().name}}-->
<!--      </li>-->
    </td>
  </tr>
</table>


