
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 3px solid black;
  text-align: center;
  padding: 8px;
  max-width: 220px;
  white-space: nowrap;
  overflow: auto;
}

tr:nth-child(even) {
  background-color: #19e4e6;
}

.PV{
  max-width: 100px;
}
#context
{

  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  top: 200px;
  left: 34px;
  list-style-type: none;

  z-index:999;

}
#add_context_button{
  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  top: 114px;
  left: 34px;
  list-style-type: none;

  z-index:999;
  width: 30%;
}
#delete_context_button{
  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  top: 146px;
  left: 25px;
  list-style-type: none;

  z-index:999;
  width: 30%;
}
/*#context{*/
/*  top: 500px;*/
/*}*/
.text-box{
  float:left;
  width:20%;
  margin-top:7px;
  display:block;
  width:100%;
}
