table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}
#context
{

  text-align: center;
  position: fixed;
  float: left;
  margin: 0;
  padding: 0;
  top: 200px;
  left: 34px;
  list-style-type: none;
  background-color: #FFFFFF;
  z-index:999;
  width: 30%;
}

/*#context{*/
/*  top: 500px;*/
/*}*/
