<p>
  context2 works!
</p>

<li *ngFor="let i of context2 | async" (click)="updateContext2ID(i.key)">
  {{i.key}} : {{i.payload.val().name}}

</li>

<div>
<form (submit)="addContext()">
  <input type="text" name="name" [(ngModel)]="newContext.name" placeholder="Enter name">
  <button type="submit" >add new context</button>
</form>
</div>
<div>
  <form (submit)="deleteContext()">
    <input type="text" name="contextID" [(ngModel)]="delContext" placeholder="Enter context id">
    <button type="submit" >delete context</button>
  </form>
</div>
