<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="chart" >
<canvas  #valueBarsCanvas></canvas>
</div>

<div>
<form class="filterLimit" (submit)="filterLimit()">
  <input type="number" name="limit" pattern= "[0-9]" [(ngModel)]="limit" placeholder="Enter limit" value="">
  <button type="submit" >limit graph to last x user activity</button>
</form>
  </div>
<form class="filterLimit" (submit)="filterContext()">
  <input type="text" name="contextID" [(ngModel)]="contextID" placeholder="Enter context id" value="">
  <button type="submit" >filter by context id</button>
</form>
<form class="filterLimit" (submit)="filterUser()">
  <input type="text" name="userID" [(ngModel)]="userID" placeholder="Enter user id" value="">
  <button type="submit" >filter by user id</button>
</form>
<img  src="assets/images/chart.jpg">
