img{
  position: relative;
  top: -674px;
  left: -604px;
}
.filterLimit{
  text-align: center;
  position: relative;
  float: left;

  left: 0px;
}
#chart{
  position: relative;
  left: 0px;
  /*width: 90%;*/
}
#removeButton{
  text-align: center;
  position: relative;

}
